 <h2>{{cart.name}} - <span id="idCart">{{cart._id}}</span></h2>

<h3>Productos agregados:</h3>
<ul>
    {{#each cart.addedProduct}}
        <li>Id producto: {{product._id}} - <strong>{{product.title}}</strong> - Cantidad agregada: {{readded}}</li>
    {{/each}}
</ul>
<strong>{{>menu}}</strong>

<hr>

<h3>Productos disponibles:</h3>
<ul>
    {{#each products}}
        <li>
            {{title}} <button onclick="add('{{_id}}')">Agregar</button>
        </li>
    {{/each}}
</ul>

<script src="/js/index.js"></script>





